<%= form_with model: [article, article.comments.build] do |form| %>
  <div>
    <%= form.text_field :commenter, placeholder: :commenter %>
  </div>
  <div>
    <%= form.text_area :body, placeholder: :body %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
