<h1>Edit Article</h1>
<%= render 'form', article: @article %>
<div class="links-box">
  <%= link_to 'Cancel', @article %>
  <%= link_to 'Delete', article_path(@article), class: "text-red-700", data: {
    turbo_method: :delete,
    turbo_confirm: 'Are you sure?'
  } %>
</div>
